<h4>Your personalized story:</h4>
<div ng-controller="madLibController">
<p>
It was a {{inputedWords.weather}} day. The entire house was quiet save for {{inputedWords.name}}, who was {{inputedWords.verb1}} around the house like a crazy person. {{name}} was finally forced to stop when a {{inputedWords.animal}} burst through the front door! It was {{inputedWords.adjective1}} and {{inputedWords.adjective2}}. {{inputedWords.name}} screamed and {{inputedWords.verb2}} into the forest and disappered forever.
</p>

<button ng-click="changeLoc()">Go again!</button>
</div>